* {
    font-family: "Times New Roman", Times, serif;
	font-size:20px;
	padding-left:10px;
	padding-top:5px;
}
html, body {
    background-color: #DDDDDD;
}

#a1 {
	padding:0px;
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
    
}

.picture{
	display:flex;
	float:right;
	position:center;
	
}

.a2{
	float:none;
padding:30px;
}
