* {
	font-family: "Times New Roman", Times, serif;
	font-size:20px;
	padding-left:10px;
	padding-top:5px;
}


section {
	align-items: center;
	width: 80%;
	margin: 30px auto;
}

#a1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	padding-top:30px;

}

.picture{
	position:absolute;
	right:10%;
}

.a2	{
	border: 1px solid black;
	height: 100px;
	width: 200px;
	font-weight: bold;
	text-align: center;
	padding: 30px;

}

.navbar {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;

}

.navbar li {
	float: left;
}

.navbar li a:hover {
	background-color: #94acaf;
}


.navbar li {
	border-right: 1px solid #bbb;
}

.navbar li:last-child {
	border-right: none;
}

section table{
	border: 1px solid black;
	box-sizing: border-box;
}

header h5{
	color:#111111
}

li a {

	color:#DDDDDD;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	display: flex;

}

ol > li{
	list-style-type: none;
	text-align: left;
}
